body>p:first-child {
    color: red;
}

p.a[ tabindex="-1"]:focus{
    color:blue;
}
p.a[tabindex="-1"]:hover{
    color:red;
}
p.a[tabindex="-1"]:active{
    color: green;
}


div [href^="http" i]:link{
color:pink
}
div [href^="http" i]:visited{
    color:orange
    }
div [href^="mailto" i]:link{
       color:blue
 }
div [href^="tel" i]:link{
    color:yellow;
    }
div [href$=".pdf" i]:link{
        font-size: 30px;
        }


p>span{
    color:red;
}
p>span>span:first-child{
    color:green;
}

p>span>span:last-child{
    color:blue;
}


div.b ul li:nth-child(n+1):nth-child(-n+25){
    color: red;
}
div.b ul li:nth-child(n+65):nth-child(-n+100){
      color: green;
}
div.b ul li:nth-child(n+35):nth-child(-n+50){
     color: blue;
}



